$navbar-height: 45px;

$navbar-bg-color: $midnight-blue;

nav.bar {

	// POSITION
	height:$navbar-height;

	// COLORS

	background-color: $navbar-bg-color;

	color: white;
	a {
		color: white;
	}

	// CONTENT

	line-height: $navbar-height;
	vertical-align: middle;

	> * {
		height: $navbar-height;
		line-height: $navbar-height;
		vertical-align: middle;

		margin: 0;
	}

	h1 {
		float: left;
		font-size: 1.2em;
		display: block;

		margin-left: 1em;
	}


	ul.buttons {
		float: right;

		li {
			list-style: none;
			float: left;
			display: block;
		}

		a {
			display: inline-block;
			padding: 0 1em;

			&:hover {
				background-color: lighten($navbar-bg-color, 5%);
			}

			i[class^="fi-"] {
				display: inline-block;
				margin-right: 0.3em;
				font-size: 1.5em;
			}

			.button-label {
				position: relative;
				top: -0.2em;
			}
		}
	}
}