$navbar-height: 45px;

$navbar-bg-color: $midnight-blue;

nav.bar {

	// POSITION
	height: $navbar-height;

	// COLORS

	background-color: $navbar-bg-color;

	color: white;
	a {
		color: white;
	}

	// CONTENT

	@mixin navBarElem {
		display: inline-block;
		height: $navbar-height;
		line-height: $navbar-height;
		vertical-align: middle;
	}

	h1 {
		float: left;
		font-size: 1.2em;
		@include navBarElem;

		margin: 0 0 0 1em;
	}


	ul.buttons {
		float: right;
		margin: 0;

		li {
			list-style: none;
			float: left;
			display: block;
		}

		a {
			@include navBarElem;

			padding: 0 1em;

			&:hover {
				background-color: lighten($navbar-bg-color, 5%);
			}

			i[class^="fi-"] {
				display: inline-block;
				margin-right: 0.3em;
				font-size: 1.5em;
			}

			.button-label {
				position: relative;
				top: -0.2em;
			}
		}
	}
}