*[routes-table] {
	font-size: 0.9em;

	table {
		width: 100%;
		display: block;
		height: 100%;

		margin: 0;
	}

	thead {
		background: white;
		display: block;
		width: calc(100% - 16px);
		// TODO: how to adjust thead height

		tr {
			display: block;
		}

		th {
			display: inline-block;

			// move sort indicators next to title
			&.sortable div {
				display: inline;
				&:after, &:before {
					right: 0;
				}
			}
		}

	}

	th, td {
		display: inline-block;

		&:nth-of-type(1) {
			width: 12%;
		}

		&:nth-of-type(2) {
			width: 10%;
		}

		&:nth-of-type(3) {
			width: 10%;
		}

		&:nth-of-type(4) {
			width: 32%;
		}

		&:nth-of-type(5) {
			width: 13%;
		}

		&:nth-of-type(6) {
			width: 23%;
		}
	}

	// for some reason setting the width on the last td screws up the layout by a few pixels
	td:last-of-type {
		width: auto;
	}

	tbody {
		display: block;
		// TODO: the header is 36px, how to adjust that?
		height: calc(100% - 36px);
		overflow-y: auto;
		width: 100%;

		tr {
			display: block;
			width: 100%;

			td {
				display: block;
				float: left;
			}
			@include clearfix;

			cursor: pointer;

			transition: background-color 200ms linear;

			&:nth-of-type(even) {
				background: white;
			}
			&:nth-of-type(odd) {
				background: #f9f9f9;
			}

			&.selected {
				background: #dddd33 !important;
			}
		}
	}

	tfoot {
		display: none;
	}

	th {
		text-align: left;
	}

}
