@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import "foundation/scss/normalize";
@import "settings";
@import "foundation/scss/foundation";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

// LOADING OVERLAY
#loading-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	background-color: rgba(50, 50, 50, 0.3);
	z-index: 1000;

	*[us-spinner] {
		position: absolute;
		top: 50%;
		left: 50%;
	}
}

.beta {
	@include label($padding: 0.3em, $text-size: 0.5em, $bg: $pomegranate, $radius: 1em);
	margin-left: 0.5em;
	vertical-align: super;
}

*[ui-view] {
	height: 100%;
}

// GYM

body[state="iframe"] {
	background-color: rgb(248, 248, 214);
	padding: 20px;
}


@import "gym";



// ADMIN
@import "admin";