<nav-bar></nav-bar>

<script type="text/ng-template" id="/archive-confirm.html">
	<p>
		Eine archivierte Route wird ab sofort ausgeblendet. Sie verbleibt aber in der Datenbank und somit bleiben
		historischen Auswertungen erhalten.<br/>
		Willst du eine archivierte Route wiederherstellen, dann kontaktiere uns!
	</p>
</script>

<script type="text/ng-template" id="/delete-confirm.html">
	<p>
		Lösche eine Route nur, wenn du sie fehlerhaft angelegt hast. Wenn die Route abgeschraubt worden ist, dann
		<strong>archiviere</strong> sie! Damit bleibt sie in den historischen Auswertungen erhalten.<br/>
		Du hast keine Möglichkeit, ein Löschen rückgängig zu machen!
	</p>
</script>

<div class="page admin">
	<section class="routes-map">
		<div routes-map ng-show="gym"></div>
		<p class="gym-load-error alert-box warning" ng-show="gymLoadError">Halle {{gymId}} konnte nicht geladen werden.
			Sorry.</p>
	</section>
	<section class="route-edit">
		<div class="route-meta" ng-show="selected">
			<h2>
				<span class="color-indicator" cu-color="selected.color" angle="45"></span>
				<span class="number" ng-if="selected.number">{{selected.number}}: </span>
				<span class="name" ng-if="selected.name">{{selected.name}}</span>
			</h2>
			<p class="grade">
				<span ng-show="selected.type == 'boulder'">{{selected.initialGrade.readable}}</span>
				<span ng-show="selected.type == 'sport-route'">{{selected.initialGrade.uiaa}}</span>
			</p>
			<p class="description" ng-show="selected.description">{{selected.description}}</p>
			<h2>geschraubt am</h2>

			<p>{{selected.dateSet | amDateFormat: 'LL' }}</p>
		</div>

		<div ng-show="selected && !movingRoute">
			<button ng-click="editRoute(selected)"><i class="fi-pencil"></i> ändern</button>

			<button ng-click="moveRoute(selected)"><i class="fi-marker"></i> verschieben</button>

			<button confirm-dialog confirm-action="archiveRoute(selected)" confirm-yes-label="Archivieren"
			        confirm-message-url="/archive-confirm.html"><i class="fi-archive"></i> archivieren</button>

			<button confirm-dialog confirm-action="deleteRoute(selected)" confirm-yes-label="Löschen!"
			        confirm-message-url="/delete-confirm.html"><i class="fi-trash"></i> löschen</button>
		</div>

		<div ng-show="movingRoute">
			<button ng-click="saveLocation()"><i class="fi-save"></i> speichern</button>
			<button ng-click="discardLocation()"><i class="fi-x"></i> verwerfen</button>
		</div>

		<p class="prompt" ng-hide="selected">Wähle entweder auf dem Grundriss links oder in der Tabelle unten eine Route
			aus.</p>
	</section>
	<section class="routes-table">
		<div routes-table ng-hide="routesLoadError"></div>

		<p class="routes-load-error alert-box warning" ng-show="routesLoadError">Routen konnten nicht geladen werden.
			Sorry.</p>
	</section>
</div>