<nav-bar>
	<ul class="buttons">
		<li>
			<a ng-click="newRoute(gym, floorPlan)">
				<i class="fi-plus"></i>
				<span class="button-label">Route hinzufügen</span>
			</a>
		</li>
		<li>
			<div ng-csv="getRoutesForCsv()" csv-header="csvHeader" text-delimiter='"' filename="{{filename}}">
				<a>
					<i class="fi-page-export-csv"></i>
					<span class="button-label">Routen exportieren</span>
				</a>
			</div>
		</li>
		<li log-in-out-button></li>
		<li feedback-button></li>
	</ul>
</nav-bar>

<script type="text/ng-template" id="/archive-confirm.html">
	<p>
		Eine archivierte Route wird ab sofort ausgeblendet. Sie verbleibt aber in der Datenbank und somit bleiben
		historischen Auswertungen erhalten.<br/>
		Willst du eine archivierte Route wiederherstellen, dann kontaktiere uns!
	</p>
</script>

<script type="text/ng-template" id="/delete-confirm.html">
	<p>
		Lösche eine Route nur, wenn du sie fehlerhaft angelegt hast. Wenn die Route abgeschraubt worden ist, dann
		<strong>archiviere</strong> sie! Damit bleibt sie in den historischen Auswertungen erhalten.<br/>
		Du hast keine Möglichkeit, ein Löschen rückgängig zu machen!
	</p>
</script>

<div class="page admin">
	<section class="routes-map">
		<div routes-map ng-show="gym"></div>
		<p class="gym-load-error alert-box warning" ng-show="gymLoadError">Halle {{gymId}} konnte nicht geladen
			werden.
			Sorry.</p>
	</section>
	<section class="route-edit">
		<div class="route-meta" ng-show="selected">
			<div class="name" ng-if="selected.name">
				<span>{{selected.name}}</span>
			</div>
			<div class="number" ng-if="selected.number">
				<span class="title">Nummer</span>
				<span>{{selected.number}}</span>
			</div>
			<div class="grade" ng-show="selected.initialGrade">
				<span class="title">Grad</span>
				<span ng-if="selected.type == 'boulder'">{{selected.initialGrade | grade:'font'}}</span>
				<span ng-if="selected.type == 'sport-route'">{{selected.initialGrade | grade:'uiaa'}}</span>
			</div>
			<div class="set">
				<span class="title">geschraubt</span>
				<span>{{selected.dateSet | amDateFormat: 'LL' }}</span>
			</div>
			<div class="description" ng-show="selected.description">{{selected.description}}</div>
		</div>

		<div ng-show="selected && !movingRoute">
			<button ng-click="editRoute(selected)"><i class="fi-pencil"></i> ändern</button>

			<button ng-click="moveRoute(selected)"><i class="fi-marker"></i> verschieben</button>

			<button confirm-dialog confirm-action="archiveRoute(selected)" confirm-yes-label="Archivieren"
			        confirm-message-url="/archive-confirm.html"><i class="fi-archive"></i> archivieren
			</button>

			<button confirm-dialog confirm-action="deleteRoute(selected)" confirm-yes-label="Löschen!"
			        confirm-message-url="/delete-confirm.html"><i class="fi-trash"></i> löschen
			</button>
		</div>

		<div ng-show="movingRoute">
			<p class="prompt">Verschiebe jetzt den Marker auf dem Grundriss links und speichere dann.</p>

			<button ng-click="saveLocation()"><i class="fi-save"></i> speichern</button>
			<button ng-click="discardLocation()"><i class="fi-x"></i> verwerfen</button>
		</div>

		<p class="prompt" ng-hide="selected">Wähle entweder auf dem Grundriss links oder in der Tabelle unten eine
			Route
			aus.</p>
	</section>
	<section class="routes-table">
		<div routes-table ng-hide="routesLoadError"></div>

		<p class="routes-load-error alert-box warning" ng-show="routesLoadError">Routen konnten nicht geladen
			werden.
			Sorry.</p>
	</section>
</div>