<form name="editRoute">

	<label class="route-type">
		<input type="radio" name="type" ng-model="route.type" value="sport-route"/>
		Sportklettertour
	</label>
	<label class="route-type">
		<input type="radio" name="type" ng-model="route.type" value="boulder"/>
		Boulder
	</label>

	<label>
		Name
		<input type="text" name="name" ng-model="route.name"/>
	</label>

	<label>
		Nummer
		<input type="text" name="number" ng-model="route.number"/>
	</label>

	<label>
		Beschreibung
		<textarea rows="3" name="description" ng-model="route.description"></textarea>
	</label>

	<label>
		Farbe
		<span color-selector colors="gym.colors" selected="route.color"></span>
	</label>

	<label ng-show="route.type == 'sport-route'">
		Grad (UIAA)
		<small>
			(2, 3-, 3, 3+, 4-, 4, 4+, 5-, 5, 5+, 6-, 6, 6+, 7-, 7, 7+, 8-, 8, 8+, 9-, 9, 9+, 10-, 10, 10+, 11-, 11, 11+,
			12-, 12, 12+)
		</small>
		<input type="text" name="gradeUiaa" ng-model="route.initialGrade.uiaa"/>
	</label>

	<label ng-show="route.type == 'boulder'">
		Grad (Fontainebleau)
		<small>
			(1A, 1B, 1C, 2A, 2B, 2C, 3A, 3B, 3C, 4A, 4B, 4C, 5A, 5B, 5C, 6A, 6A+, 6B, 6B+, 6C, 6C+, 7A, 7A+, 7B, 7B+,
			7C, 7C+, 8A, 8A+, 8B, 8B+, 8C, 8C+)
		</small>
		<input type="text" name="gradeFont" ng-model="route.initialGrade.font"/>
	</label>

	<label>
		geschraubt am
		<input type="date" name="dateSet" ng-model="route.dateSetDate"/>
	</label>

	<button ng-click="save(route)" class="alert">Speichern</button>
	<button ng-click="discard()">Änderungen verwerfen</button>
</form>