<nav-bar>
	<ul class="buttons">
		<li>
			<a ng-click="logout()" ng-show="user.authenticated">
				<i class="fi-power"></i>
				<span class="button-label">Abmelden</span>
			</a>
			<a ui-sref="login" ng-hide="user.authenticated">
				<i class="fi-power"></i>
				<span class="button-label">Anmelden</span>
			</a>
		</li>
		<li>
			<a ng-click="openFeedbackPanel()">
				<i class="fi-mail"></i>
				<span class="button-label">Probleme?</span>
			</a>
		</li>
	</ul>
</nav-bar>

<div class="page access-denied">
	Du hast keinen Zugriff darauf!
</div>