<section class="plan">
	<div image-map></div>
</section>
<section class="information-panel">
	<h1>
		<small>powered by</small>
		chalkUp!
	</h1>
	<ul class="attributes" ng-show="selected">
		<li ng-if="selected.number">
			<h2>Nummer</h2>

			<p>{{selected.number}}</p>
		</li>
		<li ng-if="selected.name">
			<h2>Name</h2>

			<p>{{selected.name}}</p>
		</li>
		<li>
			<h2>Grad</h2>

			<p ng-show="selected.type == 'boulder'">{{selected.initialGrade.readable}}</p>

			<p ng-show="selected.type == 'sport-route'">{{selected.initialGrade.uiaa}}</p>
		</li>
		<li>
			<h2>geschraubt am</h2>

			<p>{{selected.created | amDateFormat: 'LL' }}</p>
		</li>
		<li>
			<h2>Farbe</h2>

			<p><span class="color-indicator" cu-color="selected.color" angle="45"></span> {{selected.color.germanName}}
			</p>
		</li>
	</ul>
	<p class="prompt" ng-hide="selected">Wähle entweder auf dem Grundriss links oder in der Tabelle unten eine Route
		aus.</p>

	<p class="feedback"><a ng-click="openFeedbackPanel()">Route fehlt? Feedback?</a></p>
</section>
<section class="route-table">
	<table>
		<thead>
		<tr>
			<th class="number" ng-click="predicate = 'number'; reverse = !reverse">Nummer</th>
			<th class="color">Farbe</th>
			<th class="grade">Grad</th>
			<th class="name" ng-click="predicate = 'name'; reverse = !reverse">Name</th>
			<th class="date-created" ng-click="predicate = 'created'; reverse = !reverse">Datum</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="route in routes | orderBy:predicate:reverse" ng-click="select(route)" ng-class="{selected: selected == route}">
			<td class="number">{{route.number}}</td>
			<td class="color"><span class="color-indicator" cu-color="route.color" angle="45"></span> {{route.color.germanName}}</td>
			<td class="grade">
				<span ng-show="route.type == 'boulder'">{{route.initialGrade.readable}}</span>
				<span ng-show="route.type == 'sport-route'">{{route.initialGrade.uiaa}}</span>
			</td>
			<td class="name">{{route.name}}</td>
			<td class="date-created">{{route.created | amDateFormat: 'LL'}}</td>
		</tr>
		</tbody>
	</table>
</section>