<nav-bar>
	<ul class="buttons">
		<li feedback-button></li>
	</ul>
</nav-bar>

<div class="page login">

	<form ng-submit="login()">
		<div class="row">
			<div class="column small-2"><label class="right inline">E-Mail:</label></div>
			<div class="column small-9"><input name="login" ng-model="credentials.login" placeholder="E-Mail" type="text"></div>
		</div>

		<div class="row">
			<div class="column small-2"><label class="right inline">Passwort:</label></div>
			<div class="column small-9"><input name="password" ng-model="credentials.password" placeholder="Password" type="password"></div>
		</div>

		<div class="row">
			<div class="column small-9 small-offset-3">
				<button type="submit">Anmelden</button>
			</div>
		</div>

		<div class="row" ng-show="error">
			<div class="column small-9 small-offset-3">
				<small class="error">{{ error.message }}</small>
			</div>
		</div>
	</form>

</div>