<nav-bar>
	<ul class="buttons">
		<li>
			<a ui-sref="signup" ng-hide="user.authenticated"><i class="fi-arrow-down"></i><span class="button-label">Registrieren</span></a>
		</li>
		<li log-in-out-button></li>
		<li feedback-button></li>
	</ul>
</nav-bar>

<div class="page start">
	<h1>chalkUp! für Hallen</h1>
	<ul>
		<li ng-repeat="gym in gyms">
			<a ui-sref="admin({id: gym.id })" ng-if="gym.name != 'Demo-Halle'">Bearbeite {{gym.name}}</a>
			<a ng-click="demoGymClick(gym)" ng-if="gym.name == 'Demo-Halle'">Bearbeite {{gym.name}} (als Demo-Benutzer)</a>
		</li>
	</ul>
</div>